<header>
	<div class="header-title">
		<span class="header-text">Bookers</span>
	</div>
	<div class="header-box">
		<a href="/top" class="header-menu">Home</a>
		<a href="/users/sign_in" class="header-menu">log in</a>
		<a href="/users/sign_up" class="header-menu">sign up</a>
	</div>
</header>
