<%= render 'books/list', books: @books %>

<main>
  <div class="mask">
	<div class="top-box">
		<h1 class="top-title">welcome to Bookers !!</h1>
    	<p class="top-text">in bookers,</p>
		<p class="top-text">you can share and exchange your opinions, inpressions, and emotions</P>
		<p class="top-text">about varioius books!</p>
			<div class="log-in-box">
				<a href="/users/sign_in" class="log-in">
					<p class="log-in-text">Log in</p>
				</a>
			</div>
			<div class="sign-up-box">
				<a href="/users/sign_up" class="sign-up">
					<p class="sign-up-text">Sign up</p>
				</a>
			</div>
	</div>
  </div>
</main>

<footer>
		<p class="footer-text">TEL :XXX-XXXX-XXXX</p>
		<p class="footer-text">E-mail :XXX@XXX
		<p class="footer-text">CopyRight Yuya Koyoshi</p>
</footer>
